{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <body style="background-color: white">
    <div>
        {% csrf_token %}
        <div style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header" id="index-card-data" title="{{ data }}">账户名称：{{ data }}</div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header" id="layui-card-header-text2">跳转目标：自定义</div>
                    </div>
                </div>
            </div>
            <style>
                .layui-table-tool-temp {padding-right: 0px}
            </style>
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header" id="layui-card-header-text1">总数：0    剩余：0  </div>
                        <table class="layui-hide" id="index-jump" lay-filter="index-jump"></table>
                        <script type="text/html" id="toolbarDemo">
                            <div class="layui-btn-container">
                                <button class="layui-btn layui-btn-sm" lay-event="getCheckData" style="height: 35px;background-color: blue;">+添加账户+</button>
                                <a href="{% url 'domain:logout' %}"><button class="layui-btn layui-btn-sm" lay-event="logout" style="float: right;background-color: red;height: 35px">退出页面</button></a>
                            </div>
                        </script>
                        <script type="text/html" id="barDemo">
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script>
        window.jumpindexdata='{% url "domain:jumpindexdata" %}';
        window.createjump='{% url "domain:createjump" %}';
    </script>
    <script src="{% static 'js/jumpcode.js' %}"></script>

{% endblock %}