{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <body style="background-color: white">
    <div>
        <style>
            .x-admin-sm .layui-input, .x-admin-sm .layui-select, .x-admin-sm .layui-textarea {height: 43px;}
            div.layui-input-block {position: absolute;top: -0.5px;width: 83%;}
        </style>
        <div style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-card">
                     <div class="layui-card-header">账户列表
                        <form class="layui-form layui-form-pane">
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <select name="interest" lay-filter="maintest" id="maintest">
                                        <option value=""></option>
                                        {% for line in data %}
                                        <option value="{{ line.id }}">{{ line.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </form>
                     </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header" id="layui-card-header-text2">跳转目标</div>
                    </div>
                </div>
            </div>
            {% csrf_token %}
            <style>
                .layui-table-tool-temp {padding-right: 0px}
            </style>
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header" id="layui-card-header-text1">总数：0    剩余：0    方式：0</div>
                        <table class="layui-hide" id="test" lay-filter="test"></table>
                        <script type="text/html" id="toolbarDemo">
                            <div class="layui-btn-container">
                                <button class="layui-btn layui-btn-sm" lay-event="getCheckData" style="background-color: blue;height: 35px">+添加账户+</button>
                                <button class="layui-btn layui-btn-sm" lay-event="EditCheckData" style="background-color: blue;height: 35px">-编辑账户-</button>
                                <button class="layui-btn layui-btn-sm" lay-event="addall" style="background-color: black;height: 35px">批量添加</button>
                                <button class="layui-btn layui-btn-sm" lay-event="delall" style="background-color: #7a0000;height: 35px">批量删除</button>
                                <a href="{% url 'domain:logout' %}"><button class="layui-btn layui-btn-sm" lay-event="logout" style="float: right;background-color: red;height: 35px">退出页面</button></a>
                            </div>
                        </script>

                        <script type="text/html" id="barDemo">
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.mainindexdata="{% url "domain:mainindexdata" %}";
        window.createmain="{% url "domain:createmain" %}";
        window.editmain="{% url "domain:editmain" %}";
        window.parentdata="{% url "domain:parentdata" %}";
        window.createjump="{% url "domain:createjump" %}";
        window.jumpindexdata="{% url "domain:jumpindexdata" %}";
        window.createindex="{% url "domain:createindex" %}";
        window.indexdata="{% url "domain:indexdata" %}";
        window.logout="{% url "domain:logout" %}";
    </script>
    <script src="{% static 'js/maincode.js' %}"></script>
    </body>
{% endblock %}